<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="UDA">
            <directory>tests</directory>
            <exclude>tests/Sybase</exclude>
            <exclude>tests/Db2</exclude>
            <exclude>tests/Firebird</exclude>
        </testsuite>
        <testsuite name="SybaseLive">
            <directory>tests/Sybase</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
